@{
    ViewData["Title"] = "Página Inicial";
}

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <h1 class="cover-heading">Página Teste.</h1>
    <br>
    <p>Exemplo de cadastro de produtos utilizando o ASP.NET Core MVC com HTML e CSS.</p>
</div>
